<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Liste of Schools</div>
        <div class="panel-body">
            <a class="btn btn-primary" href="#/new" ng-click="goToNew()" role="button">Add <i class="fa fa-plus"></i></a>
            <p></p>
            <table ng-table="schoolTable" class="table table-striped table-bordered">
                <tr ng-repeat="school in $data">
                    <td data-title="'Name'" sortable="'name'">
                        {{school.name}}
                    </td>
                    <td data-title="'Address'" sortable="'address'">
                        {{school.address}}
                    </td>
                    <td data-title="'phone'" sortable="'phone'">
                        {{school.phone}}
                    </td>
                    <td data-title="'Date of Creation'" sortable="'yearsOfCreation'">
                        {{school.yearsOfCreation | date:'MM/dd/yyyy'}}
                    </td>
                    <td data-title="'Number Of Students'" sortable="'numberOfStudents'">
                        {{school.numberOfStudents}}
                    </td>
                    <td data-title="'Number Of Teachers'" sortable="'numberOfTeachers'">
                        {{school.numberOfTeachers}}
                    </td>
                    <td data-title="'Action'">
                        <button class="btn btn-primary" role="button" ng-click="goToEdit(school.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-primary" role="button" ng-click="deleteSchool(school.id)"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        </div>
</div>