<div class="row">
    <h1 ng-if="!edit">New School</h1>
    <h1 ng-if="edit">Edit School</h1>
    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="school.name">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address" ng-model="school.address">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Address" ng-model="school.phone">
            </div>
            <div class="form-group">
                <label for="dateofCreation">Date of Creation</label>
                <p class="input-group">
                <input c type="text" id="dateofCreation" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="school.yearsOfCreation" is-open="status.opened" min-date="1800-01-01" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
              </span>
                </p>
            </div>
            <div class="form-group">
                <label for="nbstudents">Number Of Students</label>
                <input type="number" id="nbstudents" class="form-control" ng-model="school.numberOfStudents">
            </div>
            <div class="form-group">
                <label for="nbTeachers">Number Of Teachers</label>
                <input type="number" id="nbTeachers" class="form-control" ng-model="school.numberOfTeachers">
            </div>
            <div class="form-group">
                <label for="nbclasses">Number Of Classes</label>
                <input type="number" id="nbclasses" class="form-control" ng-model="school.numberOfClasses">
            </div>
            <a ng-if="!edit" href="#/" ng-click="createSchool()" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
            <a ng-if="edit"href="#/" ng-click="createSchool()" class="btn btn-primary"><i class="fa fa-pencil"></i> Update</a>
        </form>
    </div>
</div>